ClientBookAuthor/xml-resources/web-service-references/WebServer/wsdl/localhost_8080/ServerBA/WebServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://auhorbook/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://auhorbook/" name="WebServer">
<types>
<xsd:schema>
<xsd:import namespace="http://auhorbook/" schemaLocation="http://localhost:8080/ServerBA/WebServer?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="insert">
<part name="parameters" element="tns:insert"/>
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse"/>
</message>
<message name="updatelivre">
<part name="parameters" element="tns:updatelivre"/>
</message>
<message name="updatelivreResponse">
<part name="parameters" element="tns:updatelivreResponse"/>
</message>
<message name="insertlivre">
<part name="parameters" element="tns:insertlivre"/>
</message>
<message name="insertlivreResponse">
<part name="parameters" element="tns:insertlivreResponse"/>
</message>
<message name="deletelivre">
<part name="parameters" element="tns:deletelivre"/>
</message>
<message name="deletelivreResponse">
<part name="parameters" element="tns:deletelivreResponse"/>
</message>
<portType name="WebServer">
<operation name="update">
<input wsam:Action="http://auhorbook/WebServer/updateRequest" message="tns:update"/>
<output wsam:Action="http://auhorbook/WebServer/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://auhorbook/WebServer/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://auhorbook/WebServer/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://auhorbook/WebServer/insertRequest" message="tns:insert"/>
<output wsam:Action="http://auhorbook/WebServer/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="updatelivre">
<input wsam:Action="http://auhorbook/WebServer/updatelivreRequest" message="tns:updatelivre"/>
<output wsam:Action="http://auhorbook/WebServer/updatelivreResponse" message="tns:updatelivreResponse"/>
</operation>
<operation name="insertlivre">
<input wsam:Action="http://auhorbook/WebServer/insertlivreRequest" message="tns:insertlivre"/>
<output wsam:Action="http://auhorbook/WebServer/insertlivreResponse" message="tns:insertlivreResponse"/>
</operation>
<operation name="deletelivre">
<input wsam:Action="http://auhorbook/WebServer/deletelivreRequest" message="tns:deletelivre"/>
<output wsam:Action="http://auhorbook/WebServer/deletelivreResponse" message="tns:deletelivreResponse"/>
</operation>
</portType>
<binding name="WebServerPortBinding" type="tns:WebServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatelivre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertlivre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletelivre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServer">
<port name="WebServerPort" binding="tns:WebServerPortBinding">
<soap:address location="http://localhost:8080/ServerBA/WebServer"/>
</port>
</service>
</definitions>